body {
    background: linear-gradient(to left,
            rgb(144, 196, 207),
            rgb(20, 63, 59));
    color: white;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

legend {
    font-family: 'Rubik Iso', cursive;
    color: rgb(174, 255, 255);
    padding-top: 2rem;
}

input {
    background: rgb(185, 209, 209);
    color: black
}

p {
    font-family: 'Kanit', sans-serif;
}

h3 {
    font-family: 'Kanit', sans-serif;
}

.text-pop-up-top {
    -webkit-animation: text-pop-up-top 1s ease-in-out infinite alternate-reverse both;
    animation: text-pop-up-top 1s ease-in-out infinite alternate-reverse both
}

.text-shadow-pop-left {
    -webkit-animation: text-shadow-pop-left .6s both;
    animation: text-shadow-pop-left .6s both
}

@-webkit-keyframes text-shadow-pop-left {
    0% {
        text-shadow: 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    100% {
        text-shadow: -1px 0 #555, -2px 0 #555, -3px 0 #555, -4px 0 #555, -5px 0 #555, -6px 0 #555, -7px 0 #555, -8px 0 #555;
        -webkit-transform: translateX(8px);
        transform: translateX(8px)
    }
}

@keyframes text-shadow-pop-left {
    0% {
        text-shadow: 0 0 #266163, 0 0 #266163 0 0 #266163, 0 0 #266163, 0 0 #266163, 0 0 #266163, 0 0 #266163, 0 0 #266163;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    100% {
        text-shadow: -1px 0 #266163, -2px 0 #266163, -3px 0 #266163, -4px 0 #6af0f5, -5px 0 #266163, -6px 0 #266163, -7px 0 #266163, -8px 0 #266163;
        -webkit-transform: translateX(8px);
        transform: translateX(8px)
    }
}

@-webkit-keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none
    }

    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 50px 30px rgba(0, 0, 0, .3)
    }
}

@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none
    }

    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 50px 30px rgba(0, 0, 0, .3)
    }
}