* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}


body {
    background: linear-gradient(to left,
           white,
            rgb(20, 63, 59));
    color: white;
    /* padding-left: 1.2rem;
    padding-right: 1.2rem; */
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background: linear-gradient(to top,
    black,
    #000000
    );
}

.img-logo {
    border-radius: 2em;
}


.navbar .navbar-logo {
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: black;
}

.navbar .navbar-logo span {
    color: white;
}

.navbar .navbar-nav a {
    font-family: 'Russo One', sans-serif;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 1rem;
    margin: 0 1rem;
    position: relative;
    left: 70%;
}

.navbar .navbar-nav a:hover {
    color: white;
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid  white;
    transform: scaleX(0);
    transition: 0.3s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: white;
    margin: 0 0.5rem;
    display: inline-block;
    font-size: 1.5rem;
}

.navbar .navbar-extra a:hover {
    color: #266163;
}

.navbar .navbar-extra a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid white;
    transform: scaleX(0);
    transition: 0.3s linear;
}

.navbar .navbar-extra a:hover::after {
    transform: scaleX(0.5);
}

/* navbar end */

legend {
    font-family: 'Rubik Iso', cursive;
    color: rgb(174, 255, 255);
    padding-top: 2rem;
    padding-left: 1.2rem;
}

input {
    background: rgb(185, 209, 209);
    color: black;
    padding-left: 1.2rem;
}

p {
    font-family: 'Kanit', sans-serif;
    padding-left: 1.2rem;
}

h3 {
    font-family: 'Kanit', sans-serif;
    padding-left: 1.2rem;
}
p {
    padding-left: 1.2rem;
}

.text-pop-up-top {
    -webkit-animation: text-pop-up-top 1s ease-in-out infinite alternate-reverse both;
    animation: text-pop-up-top 1s ease-in-out infinite alternate-reverse both
}

.text-shadow-pop-left {
    -webkit-animation: text-shadow-pop-left .6s both;
    animation: text-shadow-pop-left .6s both
}

.pushable {
    background: #a2ab58;
    border: none;
    border-radius: 12px;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    position: relative;
    transform: translate(50%, 130%);
}

.front {
    display: flex;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: black;
    color: white;
    font-family: 'Russo One', sans-serif;
    transform: translateY(-6px);
}

.pushable:active .front {
    transform: translateY(-2px);
}

@-webkit-keyframes text-shadow-pop-left {
    0% {
        text-shadow: 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    100% {
        text-shadow: -1px 0 #555, -2px 0 #555, -3px 0 #555, -4px 0 #555, -5px 0 #555, -6px 0 #555, -7px 0 #555, -8px 0 #555;
        -webkit-transform: translateX(8px);
        transform: translateX(8px)
    }
}

@keyframes text-shadow-pop-left {
    0% {
        text-shadow: 0 0 #266163, 0 0 #266163 0 0 #266163, 0 0 #266163, 0 0 #266163, 0 0 #266163, 0 0 #266163, 0 0 #266163;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    100% {
        text-shadow: -1px 0 #266163, -2px 0 #266163, -3px 0 #266163, -4px 0 #6af0f5, -5px 0 #266163, -6px 0 #266163, -7px 0 #266163, -8px 0 #266163;
        -webkit-transform: translateX(8px);
        transform: translateX(8px)
    }
}

@-webkit-keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none
    }

    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 50px 30px rgba(0, 0, 0, .3)
    }
}

@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none
    }

    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 50px 30px rgba(0, 0, 0, .3)
    }
}